<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Document</title>
</head>        
<body>
    <div class="options">
        <h1> Choose your animation! </h1>
        <div class="box-bar">
            <form action = "/message" method = "POST">
                <select type="text" name="animation" placeholder="Action"> 
                <option value="regular kirby">Regular kirby</option>
                <option value="farmer kirby">Farmer kirby</option>
                <input type="submit" value="Show"> 
            </form>
        </div>
    </div>

</body>